# Create Data for Tel Aviv with just Micro Mobility

In [2]:
import matplotlib.pyplot as plt
from shapely.geometry import Point
import geopandas as gpd
import pandas as pd
import numpy as np
from IPython.display import Image, display

In [3]:
BICYCLE = 15
SCOOTER = 21
E_BICYCLE = 23

micro_m = [SCOOTER, E_BICYCLE, BICYCLE]

## Loading Tel Aviv Data

In [7]:
i_m_h_ta_gdf = gpd.read_parquet('./csv_tables/i_m_h_ta_gdf.parquet')
i_m_h_ta_gdf.head()

,accident_id,provider_and_id,provider_code,file_type_police,involved_type,involved_type_hebrew,license_acquiring_date,age_group,age_group_hebrew,sex,...,vehicle_status_hebrew,vehicle_attribution,vehicle_attribution_hebrew,seats,total_weight,total_weight_hebrew,vehicle_damage,vehicle_damage_hebrew,accident_date,geometry
0,2013001076,32013001076,3,3,1,נהג,2010,13,60-64,1,...,None,1.0,ישראלי,3.0,1.0,עד 1.9,4.0,אין נזק,2013-09-07 00:30:00,POINT (34.782 32.087)
1,2013001885,32013001885,3,3,2,נהג נפגע,2003,7,30-34,1,...,None,1.0,ישראלי,1.0,NaN,None,4.0,אין נזק,2013-11-02 01:45:00,POINT (34.789 32.096)
2,2013000001,12013000001,1,1,3,נפגע,0,12,55-59,1,...,None,NaN,None,NaN,NaN,None,NaN,None,2013-01-02 00:00:00,POINT (34.783 32.053)
3,2013002115,32013002115,3,3,1,נהג,0,99,לא ידוע,0,...,None,1.0,ישראלי,99.0,0.0,לא ידוע,1.0,קל,2013-04-16 02:15:00,POINT (34.769 32.063)
4,2013000005,12013000005,1,1,1,נהג,2006,10,45-49,1,...,None,1.0,ישראלי,35.0,11.0,16.0-19.0,4.0,אין נזק,2013-01-09 00:00:00,POINT (34.766 32.069)

In [8]:
i_m_h_ta_gdf[(i_m_h_ta_gdf.involve_vehicle_type.isin(micro_m))].head()

,accident_id,provider_and_id,provider_code,file_type_police,involved_type,involved_type_hebrew,license_acquiring_date,age_group,age_group_hebrew,sex,...,vehicle_status_hebrew,vehicle_attribution,vehicle_attribution_hebrew,seats,total_weight,total_weight_hebrew,vehicle_damage,vehicle_damage_hebrew,accident_date,geometry
23,2013001368,32013001368,3,3,2,נהג נפגע,0,6,25-29,1,...,None,1.0,ישראלי,99.0,0.0,לא ידוע,4.0,אין נזק,2013-07-27 01:00:00,POINT (34.775 32.073)
87,2013001742,32013001742,3,3,2,נהג נפגע,0,7,30-34,2,...,None,1.0,ישראלי,99.0,0.0,לא ידוע,4.0,אין נזק,2013-10-07 01:30:00,POINT (34.772 32.062)
117,2013001350,12013001350,1,1,2,נהג נפגע,0,5,20-24,1,...,None,1.0,ישראלי,99.0,0.0,לא ידוע,4.0,אין נזק,2013-08-25 01:00:00,POINT (34.769 32.063)
246,2013007702,32013007702,3,3,2,נהג נפגע,0,9,40-44,1,...,None,1.0,ישראלי,99.0,0.0,לא ידוע,4.0,אין נזק,2013-08-25 07:45:00,POINT (34.782 32.088)
259,2013009458,12013009458,1,1,2,נהג נפגע,0,15,70-74,1,...,None,1.0,ישראלי,99.0,0.0,לא ידוע,4.0,אין נזק,2013-06-10 08:00:00,POINT (34.784 32.066)

In [10]:
i_m_h_ta_gdf[(i_m_h_ta_gdf.involve_vehicle_type.isin(micro_m))].to_parquet('./csv_tables/i_m_h_ta_mm_gdf.parquet')