In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

### Loading data

In [2]:
i_m_h = pd.read_csv('./csv_tables/involved_markers_heb.csv')
i_m_h

C:\Users\itay8\AppData\Local\Temp\ipykernel_18980\618692110.py:1: DtypeWarning: Columns (150) have mixed types. Specify dtype option on import or set low_memory=False.
  i_m_h = pd.read_csv('./csv_tables/involved_markers_heb.csv')

,accident_id,provider_and_id,provider_code,file_type_police,involved_type,involved_type_hebrew,license_acquiring_date,age_group,age_group_hebrew,sex,...,vehicle_status,vehicle_status_hebrew,vehicle_attribution,vehicle_attribution_hebrew,seats,total_weight,total_weight_hebrew,vehicle_damage,vehicle_damage_hebrew,accident_date
0,2013001445,12013001445,1,1,3,נפגע,0,4,15-19,1.0,...,0.0,NaN,1.0,ישראלי,99.0,NaN,NaN,3.0,קשה,2013-06-22 01:00:00
1,2023057591,32023057591,3,3,1,נהג,2021,6,25-29,2.0,...,0.0,NaN,1.0,ישראלי,99.0,NaN,NaN,4.0,אין נזק,2023-01-18 11:45:00
2,2023059223,32023059223,3,3,1,נהג,0,99,לא ידוע,0.0,...,0.0,NaN,1.0,ישראלי,99.0,NaN,NaN,4.0,אין נזק,2023-01-05 19:00:00
3,2013001445,12013001445,1,1,2,נהג נפגע,2012,4,15-19,1.0,...,0.0,NaN,1.0,ישראלי,99.0,NaN,NaN,3.0,קשה,2013-06-22 01:00:00
4,2013001445,12013001445,1,1,3,נפגע,0,5,20-24,2.0,...,0.0,NaN,1.0,ישראלי,99.0,NaN,NaN,3.0,קשה,2013-06-22 01:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1357736,2023099073,32023099073,3,3,1,נהג,0,99,לא ידוע,0.0,...,0.0,NaN,1.0,ישראלי,3.0,2.0,2.0-2.9,4.0,אין נזק,2023-02-03 13:30:00
1357737,2023099373,32023099373,3,3,2,נהג נפגע,2011,7,30-34,2.0,...,0.0,NaN,1.0,ישראלי,3.0,1.0,עד 1.9,1.0,קל,2023-01-05 13:00:00
1357738,2023099555,32023099555,3,3,1,נהג,0,99,לא ידוע,0.0,...,0.0,NaN,1.0,ישראלי,99.0,0.0,לא ידוע,0.0,לא ידוע,2023-01-25 11:30:00
1357739,2023099589,32023099589,3,3,1,נהג,1991,12,55-59,1.0,...,0.0,NaN,1.0,ישראלי,51.0,11.0,16.0-19.0,4.0,אין נזק,2023-02-01 18:30:00
1357740,2023099864,32023099864,3,3,2,נהג נפגע,2021,6,25-29,2.0,...,0.0,NaN,1.0,ישראלי,99.0,1.0,עד 1.9,4.0,אין נזק,2023-01-27 15:30:00

In [3]:
######################### USED FOR involved_markers_heb_old.csv #########################

# # Convert columns to string type
# accident_year = i_m_h['accident_year'].astype(str)
# accident_month = i_m_h['accident_month'].astype(str).str.zfill(2)  # zero pad days, months, hours, and minutes
# accident_day = i_m_h['accident_day'].astype(str).str.zfill(2)
# accident_hour = i_m_h['accident_hour'].astype(str).str.zfill(2)
# accident_minute = i_m_h['accident_minute'].astype(str).str.zfill(2)

# # Create the new date column
# i_m_h['accident_date'] = pd.to_datetime(
#     accident_year + '-' + 
#     accident_month + '-' + 
#     accident_day + ' ' + 
#     accident_hour + ':' + 
#     accident_minute
# )

# i_m_h.to_csv('./involved_markers_heb.csv', index=False)

Make sure to use accident_yishuv_symbol when looking for cities.

Planning on getting CSV by yishuv name
1. enter the name of yishuv
2. function that extract it's code
3. filter all the rows with the yishuv code
4. clean NA, duplicates etc
5. create CSV with yishuv name

In [4]:
cities_names = pd.read_csv('./csv_tables/israel_cities_names.csv', encoding = "windows-1255")
cities_names

,סמל_ישוב,שם_ישוב,שם_ישוב_לועזי,סמל_נפה,שם_נפה,סמל_לשכת_מנא,לשכה,סמל_מועצה_איזורית,שם_מועצה
0,0,לא רשום,,0,לא ידוע,0,,0,NaN
1,3777,סנסנה,,77,חברון,62,באר שבע,78,הר חברון
2,3400,חברון,,77,חברון,11,ירושלים,0,NaN
3,1347,קצר א-סר,,62,באר שבע,62,באר שבע,68,נווה מדבר
4,1331,כמאנה,,24,עכו,20,כרמיאל,56,משגב
...,...,...,...,...,...,...,...,...,...
1263,1148,צור נתן,ZUR NATAN,42,פתח תקווה,47,כפר סבא,20,דרום השרון
1264,1345,צור יצחק,ZUR YIZHAQ,42,פתח תקווה,47,כפר סבא,20,דרום השרון
1265,774,צוריאל,ZURI'EL,24,עכו,24,עכו,52,מעלה יוסף
1266,1221,צורית,ZURIT,24,עכו,20,כרמיאל,56,משגב
1267,1180,צביה,ZVIYYA,24,עכו,20,כרמיאל,56,משגב

In [5]:
cities = pd.read_csv('./csv_tables/israeli_cities.csv')
cities

,yishuv_symbol,yishuv_name,total,age_5_0,age_6_18,age_19_45,age_46_55,age_56_64,age_65_plus
0,0,לא רשום,31373,5463,2504,1245,596,648,20917
1,7,שחר,770,65,189,256,93,74,93
2,10,תירוש,444,39,72,160,50,57,66
3,11,"ניר ח""ן",621,43,135,200,77,59,107
4,13,חצבה,800,61,202,245,100,43,149
...,...,...,...,...,...,...,...,...,...
1261,9400,יהוד-מונוסון,33532,2594,6474,10760,4482,3067,6155
1262,9500,קרית ביאליק,49819,3871,8242,16514,5967,4457,10768
1263,9600,קרית ים,48794,2802,6889,15050,6059,5274,12720
1264,9700,הוד השרון,69009,5273,14783,21554,10150,6149,11100
1265,9800,בנימינה-גבעת עדה,16408,1130,4208,5209,2689,1399,1773

In [10]:
cities.sort_values(by='total').tail(30)

,yishuv_symbol,yishuv_name,total,age_5_0,age_6_18,age_19_45,age_46_55,age_56_64,age_65_plus
1046,2600,אילת,69371,4428,10652,26750,9868,7399,10274
1166,3780,ביתר עילית,69874,14032,26040,23355,3954,1403,1090
1049,2630,קרית גת,72554,9523,15412,25742,6240,5679,9958
1258,9100,נהריה,75753,5209,12721,24746,10266,7555,15256
1050,2640,ראש העין,75995,9696,16479,28260,7662,6435,7463
803,1161,רהט,76665,13461,23919,30027,5173,2211,1874
1241,7300,נצרת,82738,6863,16640,33238,9816,7491,8690
1252,8500,רמלה,86170,8881,17945,30917,9229,7148,12050
1180,3797,מודיעין עילית,87169,18132,35875,26649,4364,1073,1076
1238,7000,לוד,92825,12162,20534,32099,9019,6624,12387
1254,8700,רעננה,97426,7093,18187,30382,12998,9002,19764
837,1200,מודיעין-מכבים-רעות,104529,7650,25998,34491,16263,8926,11201
1237,6900,כפר סבא,111475,7695,21116,33915,15105,9387,24257
1233,6500,חדרה,112341,9757,20810,38065,13238,10395,20076
1232,6400,הרצליה,121574,9189,19890,39587,15579,10783,26546
1230,6200,בת ים,159425,8649,21006,48518,21490,17287,42475
1251,8400,רחובות,163089,15149,34790,53656,19337,12161,27996
1239,7100,אשקלון,171416,14937,31891,58692,19222,15746,30928
1047,2610,בית שמש,172864,34211,54835,59872,10300,5979,7667
1253,8600,רמת גן,181464,13000,25484,66410,22558,16882,37130
1234,6600,חולון,213732,14948,36972,67172,27849,20257,46534
1229,6100,בני ברק,226329,41845,68502,73923,13414,10003,18642
1257,9000,באר שבע,228010,18768,40165,79252,25471,21765,42589
44,70,אשדוד,258013,23327,51219,83620,30174,23840,45833
1242,7400,נתניה,274281,21242,49028,87701,32677,25211,58422
1247,7900,פתח תקווה,280575,23214,56344,91132,36481,23003,50401
1250,8300,ראשון לציון,281395,20182,45522,95983,36402,27276,56030
1187,4000,חיפה,337339,21803,51091,110437,41412,33177,79419
1227,5000,תל אביב - יפו,579556,38792,74495,229165,71613,50665,114826
1058,3000,ירושלים,1067021,134338,266093,378157,93504,70930,123999

### Creating CSV of 30 most populated cities

In [15]:
# def extract_yishuv_symbol(yishuv_name):
    
#     cities_filtered = cities[cities.yishuv_name.str.contains(yishuv_name.strip())].copy()
#     cities_sorted = cities_filtered.sort_values(by='total', ascending=False)
#     return cities_sorted['yishuv_symbol'].values[0]

In [16]:
import re 

def process_name(name):
    # Remove special characters and spaces, then convert to lowercase
    return re.sub(r"[^a-zA-Z]+", "_", name.strip()).lower()

process_name('name Big bad ')

'name_big_bad'

In [20]:
def extract_yishuv_from_i_m_h(yishuv_symbol):
    print(yishuv_symbol)
    i_m_h_city = i_m_h[i_m_h.accident_yishuv_symbol == yishuv_symbol]
    city_name_en_unprocessed = cities_names[cities_names['סמל_ישוב'] == yishuv_symbol]['שם_ישוב_לועזי'].values[0]
    print(city_name_en_unprocessed)
    city_name_english = process_name(city_name_en_unprocessed)
    # return './csv_tables/i_m_h_' + city_name_english + '.csv'
    i_m_h_city.to_csv('./csv_tables/i_m_h_' + city_name_english + '.csv', index=False)

In [22]:
for yishuv_symbol in cities.sort_values(by='total').tail(30).yishuv_symbol:
    extract_yishuv_from_i_m_h(yishuv_symbol)

2600
ELAT
3780
BETAR ILLIT
2630
QIRYAT GAT
9100
NAHARIYYA
2640
ROSH HAAYIN
1161
RAHAT
7300
NAZARETH
8500
RAMLA
3797
MODI'IN ILLIT
7000
LOD
8700
RA'ANANA
1200
MODI'IN-MAKKABBIM-RE
6900
KEFAR SAVA
6500
HADERA
6400
HERZELIYYA
6200
BAT YAM
8400
REHOVOT
7100
ASHQELON
2610
BET SHEMESH
8600
RAMAT GAN
6600
HOLON
6100
BENE BERAQ
9000
BE'ER SHEVA
70
ASHDOD
7400
NETANYA
7900
PETAH TIQWA
8300
RISHON LEZIYYON
4000
HAIFA
5000
TEL AVIV - YAFO
3000
JERUSALEM

In [8]:
involved_markers_heb_jr = pd.read_csv('./csv_tables/involved_markers_heb_jr.csv', )
involved_markers_heb_jr

C:\Users\itay8\AppData\Local\Temp\ipykernel_16772\3791858059.py:1: DtypeWarning: Columns (150) have mixed types. Specify dtype option on import or set low_memory=False.
  involved_markers_heb_jr = pd.read_csv('./csv_tables/involved_markers_heb_jr.csv', )

,accident_id,provider_and_id,provider_code,file_type_police,involved_type,involved_type_hebrew,license_acquiring_date,age_group,age_group_hebrew,sex,...,driving_directions_hebrew,vehicle_status,vehicle_status_hebrew,vehicle_attribution,vehicle_attribution_hebrew,seats,total_weight,total_weight_hebrew,vehicle_damage,vehicle_damage_hebrew
0,2013001705,12013001705,1,1,1,נהג,2008,6,25-29,1.0,...,לא ידוע,0.0,NaN,1.0,ישראלי,99.0,1.0,עד 1.9,1.0,קל
1,2023055413,32023055413,3,3,1,נהג,2011,7,30-34,1.0,...,לא ידוע,0.0,NaN,1.0,ישראלי,99.0,0.0,לא ידוע,4.0,אין נזק
2,2023056232,32023056232,3,3,1,נהג,1994,11,50-54,1.0,...,לא ידוע,0.0,NaN,1.0,ישראלי,3.0,1.0,עד 1.9,4.0,אין נזק
3,2023057247,32023057247,3,3,1,נהג,1999,12,55-59,1.0,...,לא ידוע,0.0,NaN,1.0,ישראלי,33.0,11.0,16.0-19.0,4.0,אין נזק
4,2023028123,32023028123,3,3,1,נהג,2018,5,20-24,1.0,...,לא ידוע,0.0,NaN,1.0,ישראלי,3.0,1.0,עד 1.9,1.0,קל
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88794,2023093898,12023093898,1,1,1,נהג,1985,13,60-64,1.0,...,\tמצפון לדרום,0.0,NaN,1.0,ישראלי,33.0,11.0,16.0-19.0,1.0,קל
88795,2023097378,12023097378,1,1,1,נהג,2016,7,30-34,1.0,...,\tמדרום לצפון,0.0,NaN,1.0,ישראלי,3.0,1.0,עד 1.9,1.0,קל
88796,2023097277,32023097277,3,3,3,נפגע,0,3,10-14,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88797,2023098653,12023098653,1,1,1,נהג,1999,9,40-44,1.0,...,\tמצפון למזרח,0.0,NaN,1.0,ישראלי,5.0,2.0,2.0-2.9,2.0,בינוני
88798,2023096255,32023096255,3,3,2,נהג נפגע,2011,9,40-44,2.0,...,לא ידוע,0.0,NaN,1.0,ישראלי,99.0,1.0,עד 1.9,1.0,קל

In [66]:
involved_markers_heb_jr = i_m_h[i_m_h.accident_yishuv_symbol == 5000]
involved_markers_heb_jr

,accident_id,provider_and_id,provider_code,file_type_police,involved_type,involved_type_hebrew,license_acquiring_date,age_group,age_group_hebrew,sex,...,vehicle_status,vehicle_status_hebrew,vehicle_attribution,vehicle_attribution_hebrew,seats,total_weight,total_weight_hebrew,vehicle_damage,vehicle_damage_hebrew,accident_date
14,2013001938,12013001938,1,1,1,נהג,1996,8,35-39,1.0,...,0.0,NaN,1.0,ישראלי,99.0,1.0,עד 1.9,1.0,קל,2013-07-31 02:00:00
15,2013001938,12013001938,1,1,3,נפגע,0,5,20-24,1.0,...,0.0,NaN,1.0,ישראלי,99.0,1.0,עד 1.9,1.0,קל,2013-07-31 02:00:00
19,2013002190,12013002190,1,1,1,נהג,0,99,לא ידוע,0.0,...,0.0,NaN,0.0,לא מנועי,99.0,0.0,לא ידוע,4.0,אין נזק,2013-03-14 02:30:00
20,2013002190,12013002190,1,1,1,נהג,0,99,לא ידוע,0.0,...,0.0,NaN,1.0,ישראלי,3.0,1.0,עד 1.9,4.0,אין נזק,2013-03-14 02:30:00
37,2023065778,32023065778,3,3,1,נהג,0,99,לא ידוע,0.0,...,0.0,NaN,1.0,ישראלי,3.0,2.0,2.0-2.9,4.0,אין נזק,2023-01-05 14:15:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1357676,2023093433,32023093433,3,3,2,נהג נפגע,0,99,לא ידוע,0.0,...,0.0,NaN,1.0,ישראלי,99.0,0.0,לא ידוע,4.0,אין נזק,2023-02-14 08:30:00
1357701,2023099292,32023099292,3,3,1,נהג,2001,9,40-44,2.0,...,0.0,NaN,1.0,ישראלי,3.0,1.0,עד 1.9,4.0,אין נזק,2023-02-23 17:00:00
1357708,2023092779,32023092779,3,3,1,נהג,0,99,לא ידוע,0.0,...,0.0,NaN,1.0,ישראלי,99.0,0.0,לא ידוע,1.0,קל,2023-01-24 23:15:00
1357709,2023090298,32023090298,3,3,2,נהג נפגע,1995,10,45-49,2.0,...,0.0,NaN,1.0,ישראלי,3.0,1.0,עד 1.9,1.0,קל,2023-01-01 16:00:00
1357714,2023091245,32023091245,3,3,2,נהג נפגע,2010,7,30-34,2.0,...,0.0,NaN,1.0,ישראלי,99.0,0.0,לא ידוע,4.0,אין נזק,2023-03-05 20:30:00

In [6]:
# involved_markers_heb_jr.drop(columns=['Unnamed: 0'],inplace=True)

KeyError: "['Unnamed: 0'] not found in axis"

Extracting by city, currently Jerusalem.

In [7]:
involved_markers_heb_jr.to_csv('./csv_tables/involved_markers_heb_jr.csv', index=False)

In [9]:
# involved_markers_heb_ta.drop(columns=['Unnamed: 0'],inplace=True)

In [9]:
# involved_markers_heb_ta.columns.to_list()

In [10]:
involved_markers_heb_jr.columns[involved_markers_heb_jr.columns.str.contains('vehicle')]

Index(['involve_vehicle_type', 'vehicle_status', 'vehicle_status_hebrew',
       'vehicle_attribution', 'vehicle_attribution_hebrew', 'vehicle_damage',
       'vehicle_damage_hebrew'],
      dtype='object')

### Exploring na values in vehicle
We have 2 columns with the same values:
* involve_vehicle_type
* vehicle_vehicle_type

Another 2 with the same values:
* vehicle_vehicle_type_hebrew
* involve_vehicle_type_hebrew

In order to take care of NA values I first need to make sure they all have the same rows with NA.

In [25]:
vehicle_type_na_idx = involved_markers_heb_ta['involve_vehicle_type'][involved_markers_heb_ta['involve_vehicle_type'].isna()].index
vehicle_type_na_idx

Int64Index([     7,     10,     29,     35,     37,     57,     69,     70,
                99,    108,
            ...
            102804, 102815, 102819, 102838, 102847, 102852, 102866, 102951,
            102998, 103053],
           dtype='int64', length=6675)

In [26]:
involved_markers_heb_ta.loc[vehicle_type_na_idx,'involve_vehicle_type_hebrew'].isna().sum()

6675

### Dropping duplicated columns

In [29]:
# involved_markers_heb_ta.drop(columns=['vehicle_vehicle_type', 'vehicle_vehicle_type_hebrew'], inplace=True)

In [30]:
# involved_markers_heb_ta.to_csv('./csv_tables/involved_markers_heb_ta.csv', index=False)

### Create date column

In [31]:
# Convert columns to string type
involved_markers_heb_ta['accident_year'] = involved_markers_heb_ta['accident_year'].astype(str)
involved_markers_heb_ta['accident_month'] = involved_markers_heb_ta['accident_month'].astype(str).str.zfill(2)  # zero pad days, months, hours, and minutes
involved_markers_heb_ta['accident_day'] = involved_markers_heb_ta['accident_day'].astype(str).str.zfill(2)
involved_markers_heb_ta['accident_hour'] = involved_markers_heb_ta['accident_hour'].astype(str).str.zfill(2)
involved_markers_heb_ta['accident_minute'] = involved_markers_heb_ta['accident_minute'].astype(str).str.zfill(2)

# Create the new date column
involved_markers_heb_ta['accident_date'] = pd.to_datetime(
    involved_markers_heb_ta['accident_year'] + '-' + 
    involved_markers_heb_ta['accident_month'] + '-' + 
    involved_markers_heb_ta['accident_day'] + ' ' + 
    involved_markers_heb_ta['accident_hour'] + ':' + 
    involved_markers_heb_ta['accident_minute']
)

In [32]:
involved_markers_heb_ta.to_csv('./csv_tables/involved_markers_heb_ta.csv')

### All have the same NA rows Next lets replace NA with empty string in string columns

In [7]:
# involved_markers_heb_ta['involve_vehicle_type_hebrew'].fillna('', inplace=True)
# involved_markers_heb_ta['vehicle_vehicle_type_hebrew'].fillna('', inplace=True)

In [9]:
# import plotly.express as px

# # Assuming your involved_markers_heb_ta DataFrame is already defined

# # Group by vehicle_vehicle_type_hebrew and count the occurrences
# vehicle_counts = involved_markers_heb_ta.groupby('vehicle_vehicle_type_hebrew').size().reset_index(name='counts')

# # Plotting using plotly
# fig = px.bar(vehicle_counts, x='vehicle_vehicle_type_hebrew', y='counts', title='Vehicle Type Counts')
# fig.show()